MYSQL_ROOT_PASSWORD=cloudticket
MYSQL_DATABASE=activity_db
MYSQL_USER=cloudticket
MYSQL_PASSWORD=cloudticket
REDIS_PORT=6379
KAFKA_PORT=9092
NACOS_PORT=8848
MYSQL_ROOT_PASSWORD=cloudticket
AUTH_JWT_SIGNING_KEY=replace-with-a-long-random-secret
GATEWAY_PORT=8080
WEB_PORT=5173
